.login-container{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.login-logo-container{
    width: 180px;
    height:90px;
    margin-bottom: 20px;
}
.login-logo-container img{
    width: 100%;
    height: 100%;
}
.login-roles-container{
    display: flex;
    
}
.login-role{
    border: 2px solid #ff6b35;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    background-color: #ff6b35;
    width: 80px;
    margin: 0px 10px;
}
.login-role .role-icon{
    font-size: 18px;
    color: white;
}
.login-role p{
    color: white;
    font-size: 13px;
    font-weight: 600;
}
.login-form-container{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.login-form-container h1{
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.form{
    display: flex;
    flex-direction: column;
}
.form label{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}
.form input{
    padding: 5px 10px;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    border: 2px solid rgba(128, 128, 128, 0.829);
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.855);
}
.form input:hover{
    border: 2px solid #ff6b35;
}
.sign-in-btn{
    background-color: #ff6b35;
    border: 0px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    padding: 5px 0px;
}